<?xml version="1.0"?>
<config>
    <modules>
       <Apruve_ApruvePayment>
          <version>1.0.8</version>
       </Apruve_ApruvePayment>
    </modules>
    <frontend>
        <routers>
            <apruvepayment>
                <use>standard</use>
                <args>
                    <module>Apruve_ApruvePayment</module>
                    <frontName>apruvepayment</frontName>
                </args>
            </apruvepayment>
        </routers>
         <layout>
            <updates>
                <apruvepayment>
                    <file>apruvepayment.xml</file>
                </apruvepayment>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <apruvepayment>
                <class>Apruve_ApruvePayment_Block</class>
            </apruvepayment>
        </blocks>
        <models>
            <apruvepayment>
                <class>Apruve_ApruvePayment_Model</class>
            </apruvepayment>
        </models>
        <resources>
            <apruvepayment_setup>
                <setup>
                    <module>Apruve_ApruvePayment</module>
                    <class>Apruve_ApruvePayment_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apruvepayment_setup>
            <apruvepayment_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </apruvepayment_write>
            <apruvepayment_read>
               <connection>
                <use>core_read</use>
              </connection>
            </apruvepayment_read>
        </resources>
        <helpers>
            <apruvepayment>
                <class>Apruve_ApruvePayment_Helper</class>
            </apruvepayment>
        </helpers>
    </global>
    <default>
        <payment>
            <apruvepayment>
                <mode>1</mode>
                <active>1</active>
                <model>apruvepayment/paymentMethod</model>
                <order_status>pending_payment</order_status>
                <title>Pay with Apruve</title>
                <payment_action>authorize</payment_action>
            </apruvepayment>
         </payment>
    </default>
</config>
